boody {
    padding: o;
    range: 0;
}
.container {
    width: 75%;

}
.zero {
    background-image: url(./img/Rectangle.png)
    background-position: center;
    backfround-repeat: no-repeat;
    heigh: 100vh;
}